.container {
  border: 2px solid black;
  width: 700px;
  margin: auto;
  background-color: #f5f5f5;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btns {
  margin: 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.btn {
  background-color: #d4d4d4;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #737373;
}
select {
  border: none;
  padding: 10px;
  border: 1px solid #ccc;
  width: 200px;
  height: 200px;
}
select option {
  padding: 5px;
}
