<div class="container">
  <div class="row">
    <div class="first-list">
      <p class="paragraph">First List</p>
      <app-list
        #firstChild
        [users]="users"
        (selectedUsersChange)="onSelectedUsersChange($event)"
      ></app-list>
      <div>
        <div class="backdrop" (click)="closeModal()"></div>
        <div class="modal">
          <div class="modal-items">
            <input type="text" [(ngModel)]="editedUser" />
            <div class="modal-buttons">
              <button
                class="accept-btn"
                (click)="onSaveChanges(editedUser)"
                (click)="closeModal()"
                type="button"
              >
                <span>Save</span>
              </button>
              <button class="close-btn" (click)="closeModal()" type="button">
                <span>Cancel</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btns">
      <button class="btn" (click)="moveAllRight()" type="button">
        <i class="fa-solid fa-angles-right"></i>
      </button>
      <button class="btn" (click)="moveRight()" type="button">
        <i class="fa-solid fa-chevron-right"></i>
      </button>
      <button class="btn" (click)="moveLeft()" type="button">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button class="btn" (click)="moveAllLeft()" type="button">
        <i class="fa-solid fa-angles-left"></i>
      </button>
      <button class="btn" (click)="removeFromList()">
        <i class="fa-solid fa-xmark"></i>
      </button>
      <button class="btn" (click)="openModal()" type="button">
        <i class="fa-solid fa-pen"></i>
        <span>Edit</span>
      </button>
    </div>
    <div class="second-list">
      <p class="paragraph">Second List</p>
      <app-list
        #secondChild
        [users]="movedUsers"
        (selectedUsersChange)="onSelectedUsersChange($event)"
      ></app-list>
    </div>
  </div>
</div>
